p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.resumen {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f4b9ab;
  position:relative;
  font-size: 18px;
}

.resumen:before {
    content: "\f0a4";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:5px;
    font-size: 40px;
 }

.observacion {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #d6d6d6;
  position:relative;
  font-size: 18px;
}

.observacion:before {
    content: "\f121";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:5px;
    font-size: 40px;
 }
